{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link href="{% static 'store/css/style.css'%}" rel="stylesheet" />
    <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-success fixed-top shadow" style="height: 65px;">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto"> 
        <li class="nav-item m-2 my-auto">
          <a class="nav-link text-light btn border rounded" href="{% url 'category.index' %}">
            <i class="fa-solid fa-house-user"></i>
          </a>
        </li>
        {% if user.id %}
        <li class="nav-link text-light my-auto">
          <a class="nav-link text-light btn border rounded" href="{% url 'account.profile' %}"> 
            <i class="fa-solid fa-user"></i> {{user}} 
          </a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link text-light btn border rounded" href="{% url 'logout' %}"> 
            <i class="fa-solid fa-right-from-bracket"></i> logout 
          </a>
        </li>
        {% else %}
        <li class="nav-item m-2">
          <a class="nav-link text-light btn border rounded" href="{% url 'login' %}">
            <i class="fa-solid fa-right-to-bracket"></i>  Login
          </a>
        </li>
        {% endif %}
        <li class="nav-item m-2">
          <a class="nav-link text-light btn border rounded" href="{% url 'account.create' %}">
            <i class="fa-solid fa-registered"></i> Register
          </a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link text-light btn border rounded" href="{% url 'index'%}">products list</a>
        </li>
          {% block nav %}
          {% endblock %}
      </ul>
    </div>
  </nav>
  <div class="row mt-5 pt-5 container justify-content-center mx-auto text-center">  
    {% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        {{ message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% block container %}
    {% endblock %}
  </div>
  <footer class="navbar navbar-expand-sm bg-success shadow-lg mt-5" style="height: 55px;">
    <div class="container-fluid">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item m-2">
          <a class="nav-link text-light btn border rounded" href="{% url 'aboutUs' %}">
            <i class="fa-solid fa-address-card"></i>
          </a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link text-light btn border rounded" href="{% url 'contactUs' %}">
            <i class="fa-solid fa-phone"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
  <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
</body>
</html>